@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Usuario

<h1 class="text-center">Login </h1>

<div class="row justify-content-center my-4">
    <div class="col-md-4">
        <form asp-action="Login">
            <div class="col-form-label">
                <label asp-for="Email" class="control-form"> Email </label>
                <input asp-for="Email" class="form-control" type="email" />
            </div>
            <div class="col-form-label">
                <label asp-for="Senha" class="control-form">Senha </label>
                <input asp-for="Senha" class="form-control" type="password" />
            </div>
            <div class="col-form-label">
                <input type="submit" class="btn btn-outline-primary" value="Login" />
                
            </div>
        </form>
        <div class="col-form-label">
            <a asp-action="Cadrastro" class="btn btn-danger">Cadrastro </a>
        </div>
       
            @if (TempData["Erro"] != null){
            
             <div class="alert-danger">
                 @TempData["Erro"]
            </div>

            }
       
    </div>
</div>
